auto-install-peers=true
engine-strict=true
legacy-peer-deps=true
node-linker=hoisted
package-manager-strict=false
public-hoist-pattern[]=*eslint-plugin-*
public-hoist-pattern[]=@typescript-eslint/eslint-plugin